normalize-css()
border-box-html()

*, *:before, *:after
  box-sizing: inherit

.site-title
  font-size: 3rem
  +below('m')
    font-size: 2rem

.site-header
  padding: 3rem 0

.site-nav
  ul
    breadcrumb()
    float: right
    padding-top: 1.5rem
    +below('m')
      padding-top: 0.4rem
    +below('s')
      padding-top: 1.5rem
      float: left

.filter-bar
  margin-bottom: 0
  input, select
    width: 100%
    vertical-align: middle
    margin-bottom: 0.5rem


.events
  clearfix()
  list-style: none

  .event
    position: relative
    float: left
    width: 29.4rem
    height: 20rem
    border: 1px solid #ccc
    border-radius: 3px
    margin: 1.3rem
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    +below('m')
      width: 100%
      margin: 2rem 0

  .event-desc
    padding: 2rem 1rem
    color: white
    position: absolute
    bottom: 0
    right: 0
    left: 0
    background-color: rgba(0, 0, 0, 40%)
    vertical-align: middle

    .event-desc-date
      font-size: 0.5rem
      text-align: right
      margin-top: 0.6rem
      +below('s')
        text-align: left


