normalize-css()
border-box-html()

*, *:before, *:after
  box-sizing: inherit

.site-title
  font-size: 3rem
  +below('m')
    font-size: 2rem

.site-header
  padding: 3rem 0

.site-nav
  ul
    breadcrumb()
    float: right
    padding-top: 1.5rem
    +below('m')
      padding-top: 0.4rem
    +below('s')
      padding-top: 1.5rem
      float: left

.filter-bar
  margin-bottom: 0
  input, select
    width: 100%
    vertical-align: middle
    margin-bottom: 0.5rem


.event-list
  clearfix()
  list-style: none

  .event-list-item
    position: relative
    float: left
    width: 29.4rem
    height: 20rem
    border: 1px solid #ccc
    border-radius: 3px
    margin: 1.3rem
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    +below('m')
      width: 100%
      margin: 2rem 0

  .event-list-desc
    padding: 2rem 1rem
    color: white
    position: absolute
    bottom: 0
    right: 0
    left: 0
    background-color: rgba(0, 0, 0, 40%)
    vertical-align: middle

  .event-list-date
    font-size: 1rem
    text-align: right
    margin-top: 0.6rem
    +below('s')
      font-size: 1.2rem
      text-align: left

.event

  .event-image
    width: 100%
    margin-bottom: 3rem

  .event-desc
    overflow: scroll
    img
      max-width: 100%

  .event-dates
    overflow: scroll
    text-align: center
    +below('s')
      text-align: left
      > *
        display: inline-block

    .event-dates-to
      font-style: italic
      font-size: 1rem
      +below('s')
        margin: 0 1rem

  .event-map
    overflow: scroll
    height: 200px
    border: 0
    +below('s')
      height: 150px

  .event-location-desc
    margin-bottom: 1rem

  .event-metadata
    overflow: scroll
    margin-bottom: 4rem
    +below('s')
      margin-bottom: 3rem
    h4
      text-transform: uppercase
      line-height: 3.5rem


